body{
    height: 4000px;
}

.clearfix{clear:both;}

.continer               
{
   margin: auto;
    width: 1000px;
    

}

/* Start header */

.header .slider
{
background-image: url(https://wallpaperset.com/w/full/0/7/2/313022.jpg);
background-size:cover ;
height: 100vh;
}

.header .slider .intro 
{   
    padding:225px;
    text-align: center;
    color: #FFF;
    
}
.header .slider .intro h2
{   margin: 0 auto;
    font-size: 50px ;
    width: 600px;
    border-top:4px solid #FFF;
    border-bottom:4px solid #FFF;
    padding: 5px 0;
}

.header .slider .intro button
{
    color: #FFF;
    background: none;
    margin-top: 30px;
    font-size: 20px;
    border:3px solid #FFF;
    font-weight: bold;
    padding: 10px 20px;
}




.header .navbar    
{
background-color: #252f31;
color: #fff;
text-transform: capitalize;
font-size:large;
overflow: hidden;

}

.header .navbar h2
{float: left; text-transform: uppercase;}
    
    

.header .navbar h2 span {color: #2ecc71;}

.header .navbar ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}


.header .navbar ul li {  float: left; padding:10px;}
.header .navbar ul li a { color: #fff;
    text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover
{
    color: #30B576;
}
/* ++++++++++++++++++++++++++++ end haeder ++++++++++++++++++++ */

/* ++++++++++++++++  Start features  ++++++++++++++++ */
.features  {
    overflow: hidden;
    padding-top:30px ;
    padding-bottom:30px ;
   

  
}
.features .feat{
    float: left;
    width: 32.3%;
    height: 150px;
    padding-left: 5px;
    padding-right: 5px;

    
    /*background-color: #DDD; will be removed ?*/
}
.features h2 {text-transform: uppercase;}   
.features p {
    line-height: 1.6;
    color:gray;
}

/* ++++++++++++++++  End features  ++++++++++++++++ */

/* ++++++++++++++++  start about me  ++++++++++++++++ */
.about-me{
    background-color: #f2f2f2;
    overflow: hidden;
}
.about-me .image
{ float: left;
  width: 500px;
}
.about-me .image img
{width: 100%;}

.about-me .info
{float: left;
 width: 500px;
}

.about-me .info > h2{
    padding: 40px 0px 20px 40px;
    color: #555;
}

.about-me .info > p{
    padding: 0 0 5px 20px ;
    line-height: 1.6;
}
.about-me .info > p:last-of-type{
   margin-top: 15px;
    line-height: 1.6;
}



.about-me .info .hobbies {
    overflow: hidden;
    margin: 0 0 0 20px;
    padding-left: 20px;
    
}

.about-me .info .hobbies .content{
    float:left;
    width: 50%;
    min-height: 100px ;
}

.about-me .info .hobbies .content h3{ color:#555;}


.about-me .info .hobbies .content .icon{
    float: left;
    width: 14%;
    margin-right: 5%;
}
.about-me .info .hobbies .content .icon img {
max-width: 100%;
margin-top: 20px ;

}


.about-me .info .hobbies .content .text{
    float: left;
    width: 81%;

}

/* ++++++++++++++++  end about me  ++++++++++++++++ */

/* ++++++++++++++++  start my skills  ++++++++++++++++ */

.my-skills
{
    
padding-top:30px ;
padding-bottom:30px ;
overflow: hidden;


}


.my-skills .skills ,
.my-skills .progress {
    width: 50%;
    float: left;
    padding-bottom: 30px;


}

.my-skills .progress {
margin-top: 25px;}



.my-skills .skills > h2{
    padding: 40px 0px 20px 40px;
    color:#444

}

.my-skills .skills p{
    padding: 0 0 5px 20px ;
    line-height: 1.6;
    color:#777;

}
.my-skills .skills p:last-of-type{
   margin-top: 15px;
    line-height: 1.6;

}

.my-skills .skills button{

    margin-left: 20px;
    margin-top: 20px;

}
.my-skills .progress .tec {
    margin-left: 50px;
}

.my-skills .progress .tec h3
{
    color:#444

}
.my-skills .progress .tec div
{
    background-color: #f2f2f2;
    height: 25px;
}
.my-skills .progress .tec div span
{background-color:#2DCC70 ;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: white;
    font-weight: bold;
}



/* ++++++++++++++++  End my skills  ++++++++++++++++ */

/* ++++++++++++++++  start resume  ++++++++++++++++ */
.resume
{
    background-color: #f2f2f2;
    padding-top:50px ;
    padding-bottom:65px ;
    text-align: center;
    color:#444


    

}
.resume p {
    line-height: 1.6;
    padding: 0 30px;
    color:#777;
    
}


.resume button
{
    margin-top: 20px;
}



/* ++++++++++++++++  end resume ++++++++++++++++ */

/* ++++++++++++++++  start my edu  ++++++++++++++++ */

.my-Edu
{
 
overflow: hidden;

}

.my-Edu .exp hr{
    margin:20px 0 ; background-color: #999; height: 1.5px; border: 0;
 }


.my-Edu .main
{ width: 50%;
    margin-right:5%;
    float: left;

}

.my-Edu .main h2{
    padding: 40px 0px 20px 40px;
    color: #555;
}

.my-Edu .main p{
    padding: 0 0 5px 20px ;
    line-height: 1.6;
    color:#777;
}
.my-Edu .main p:last-of-type{
   margin-top: 15px;
   color:#777;

    line-height: 1.6;}

 .my-Edu .exp {
    width: 45%;
    float: left;
 }

 .my-Edu .exp h3 {
    margin-top: 64.59px;
    margin-bottom: 10px;
    color: #555;


 }
 .my-Edu .exp span{
    margin-bottom: 10px;
    display: block;

 }

 .my-Edu .exp span:first-of-type{color: #999;}

 .my-Edu .exp span:last-of-type{
    background-color: #2DCC70;
    color:white;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;

 }


 .my-Edu .exp p{
    line-height: 1.6;
    color:#777;
 }
/* ++++++++++++++++  End my edu  ++++++++++++++++ */

/* ++++++++++++++++  start TM  ++++++++++++++++ */
.TM
{
    background-color: #f2f2f2;
    padding-top:60px ;
    padding-bottom:55px ;
    text-align: center;

}
.TM q {line-height: 1.6;
    color: #888;
     font-style: italic;
     font-weight: bold;
    
    }

.TM h3{
    color: #666;
    margin-bottom: 30px;
}

.TM ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.TM li 
{
    width: 8px;
    height: 8px;
    border-radius:50%;

    border:2px solid#2DCC70;
    display: inline-block;
    cursor: pointer;
}
.TM ul li.active,
.TM ul li:hover{background-color:#2DCC70 ;}



/* ++++++++++++++++  end TM ++++++++++++++++ */

/* ++++++++++++++++  start portfolio  ++++++++++++++++ */
.portfolio
{
   padding-top: 50px;
   padding-bottom: 70px;
   text-align: center;

}
.portfolio h2 {
    color: #555;

}
.portfolio p{
    color: 777px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.portfolio .our-work{
    overflow: hidden;
}

.portfolio .our-work > div
{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px ;
}
.portfolio .our-work > div img
{width: 92%;
 margin: 10px;
 padding: 3px;
 background-color: #FFF;
 border: 1px solid #CCC;
 box-shadow:10px 10px 12px #CCC;

}



/* ++++++++++++++++  end portfolio  ++++++++++++++++ */


/* ++++++++++++++++  start contact me  ++++++++++++++++ */
.contact-me
{
    background-color: #252F31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom:50px ;
}

.contact-me h2{color: #FFF;
}
.contact-me p {color: #6A6E71;
    line-height: 1.6;
}

.contact-me p strong {color: white;}


.contact-me .info{

    width:45% ;
    float: left;
    margin-left: 10px; 
    margin-right: 5%;
}
.contact-me .form
{width:45% ;
    float: left;
    margin-left: 10px;
}

.contact-me .form label
{
    display: block;
    color: #D1D6DA;
    margin: 10px 0;

}

.contact-me .form input[type="text"]
{
    background-color: #4B5557;
    color:#FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

.contact-me .form textarea
{
    background-color: #4B5557;
    color:#FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}
.contact-me .form input[type="submit"]
{
    background-color: #191E22;
    color:#fff;
    padding: 10px 20px;
    border: 0px ;
    margin-top: 10px;
}



 
/* ++++++++++++++++  End contact me  ++++++++++++++++ */

/* ++++++++++++++++  Start footer  ++++++++++++++++ */
.footer
{
    background-color: #191E22;
    color: #6A6E71;
    padding:20px 0;
    text-align: center;


}



.footer ul{
    list-style: none;
    padding-left: 0px;
    margin: 10px 0 0px;


}

.footer ul li{
    display: inline-block;
}

.footer ul li img{
    width: 24px;
}

/* ++++++++++++++++  End footer  ++++++++++++++++ */


/* ++++++++++++++++  Start My Framework  ++++++++++++++++ */



.My-button{
    background:none;
    border:2px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;

}
